* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  background: #1e1e1e;
  height: 100vh;
  overflow: hidden;
}

.hover-zone {
  position: fixed;
  left: 0;
  top: 0;
  width: 12px;
  height: 100%;
  z-index: 99;
}

.sidebar {
  position: fixed;
  left: -260px;
  width: 260px;
  height: 100%;
  background: #fff;
  padding: 24px;
  transition: left 0.35s;
  display: flex;
  flex-direction: column;
  box-shadow: 2px 0 12px rgba(0,0,0,0.15);
}

.hover-zone:hover + .sidebar,
.sidebar:hover {
  left: 0;
}

.content {
  margin-left: 0; /* innehållet i .content margin-left gjorde så att menyn inte överskrider självaste kalendern  */
  transition: margin-left 0.35s ease;
}

.hover-zone:hover ~ .content,
.sidebar:hover ~ .content {
  margin-left: 260px;  
}

.logo {
  font-size: 22px;
  color: #4a4aff;
  margin-bottom: 32px;
}

.menu a {
  display: block;
  padding: 12px;
  margin-bottom: 8px;
  text-decoration: none;
  color: #333;
  border-radius: 8px;
}

.menu a.active,
.menu a:hover {
  background: #eee;
}

.upcoming-btn {
  margin: 24px 0;
  padding: 12px;
  border-radius: 10px;
  border: 1px solid #6c63ff;
  background: transparent;
  color: #6c63ff;
}

.weather {
  margin-top: auto;
  text-align: center;
}

.content {
  padding: 30px;
  background: #f7f7f7;
  height: 100%;
  overflow-y: auto;
}

.topbar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.pill {
  padding: 6px 12px;
  border-radius: 8px;
  background: #fff;
  border: 1px solid #ccc;
  margin-right: 6px;
}

.pill.red { color: red; }

.icon {
  padding: 6px 10px;
  border-radius: 6px;
  background: #fff;
  border: 1px solid #ccc;
  cursor: pointer;
}

.view { display: none; }
.active-view { display: block; }

.calendar {
  background: #fff;
  border-radius: 14px;
  padding: 20px;
}

.calendar-grid {
  display: grid;
  grid-template-columns: 80px repeat(6, 1fr);
}

.cell {
  border: 1px solid #e6e6e6;
  height: 60px;
  position: relative;
}

.cell.event-cell:hover {
  background: #f2f6ff;
  cursor: pointer;
}

.header {
  height: 40px;
  background: #fafafa;
  font-weight: 600;
  text-align: center;
  padding-top: 10px;
}

.time {
  font-size: 12px;
  padding-top: 22px;
}

.event {
  background: #4a4aff;
  color: #fff;
  padding: 4px 6px;
  border-radius: 6px;
  font-size: 12px;
  position: absolute;
  top: 4px;
  left: 4px;
  right: 4px;
}

.notes textarea {
  width: 100%;
  height: 400px;
  border: none;
  outline: none;
  resize: none;
}

.notes-actions {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.save {
  padding: 10px 16px;
  border-radius: 10px;
  border: none;
  margin-left: 10px;
}

.save.primary {
  background: #007bff;
  color: #fff;
}

.save.secondary {
  background: #aaa;
  color: #fff;
}
